/*
Holds the common style for Notice Popup and page_blocked.html file
*/
.phish-detect-notice{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    flex-direction: row;
    background: #a8c4d3;
    
    z-index: 1000000;

    /* background-color: red; */
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    box-sizing: border-box;
    text-align: left;
    padding: 30px 50px;
}
.phish-detect-notice_static{
    position: static;
}

.phish-detect-notice__head{
    font-size: 40px;
    color: #303030;
    letter-spacing: 2px;
    margin:15px 0;
}

.phish-detect-notice__msg,
.phish-detect-notice__powered{
    font-size: 16px;
    letter-spacing: 1px;
    color: #303030;
    margin-top:20px;
    line-height: 1.5;
}

.phish-detect-notice__powered{
    font-size: 10px;
    letter-spacing: 1px;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 20px;
    top:unset;
}
.phish-detect-notice__powered a{
    color:#303030 !important;
    font-weight: 700;
}
.phish-detect-notice__close{
    position: fixed;
    cursor: pointer;
    right: 20px;
    top: 20px;
    background: white;
    color: black;
    border: none;
    padding: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phish-detect__col{
    width:50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.phish-detect__col_right{
    align-items: center;
}
.phish-detect__illustration{
    max-width: 350px;
    max-height: 350px;
    object-fit: contain;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both 3;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.phish-detect-notice__msg_whitelist,
.phish-detect-notice__msg_whitelist a{
  font-size: 10px;
  
}
.phish-detect-notice__msg_whitelist{
  position:absolute;
  bottom:10px;
}
